<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr> 
    <tr class="vacancy"> 
     <td class="title"><a href="https://sumy.grc.ua/vacancy/55173016?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kyiv">Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Codeminders</td> 
     <td class="salary">от 5 000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://sumy.grc.ua/vacancy/55357613?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kyiv">Backend Java Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Codeminders</td> 
     <td class="salary">до 6 000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://sumy.grc.ua/vacancy/55243234?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kyiv">Java Developer (Digital Banking)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">CREDIT AGRICOLE BANK</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://sumy.grc.ua/vacancy/55355983?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kyiv">Software Support Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО lifecell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://sumy.grc.ua/vacancy/55217328?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kyiv">QA Automation Engineer Java, JavaScript, Python or С# (Junior / Middle)</a></td> 
     <td class="city">Киев, Берестейская</td> 
     <td class="companyName">QATestLab</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://sumy.grc.ua/vacancy/55169503?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kyiv">Senior Java Backend Developer (remote)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Data Virtuality GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://sumy.grc.ua/vacancy/55167240?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kyiv">Senior Backend Engineer (Java/Kotlin)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Digis</td> 
     <td class="salary">до 5 000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://sumy.grc.ua/vacancy/55355526?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kyiv">Software Solution Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО lifecell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://sumy.grc.ua/vacancy/54930508?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kyiv">Full Stack (React+Node.js) Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Smart Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://sumy.grc.ua/vacancy/55423114?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kyiv">Cyber Security Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Wirex</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://sumy.grc.ua/vacancy/55355500?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kyiv">IT Recruiter</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">AppCake</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://sumy.grc.ua/vacancy/54617262?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kyiv">Senior Frontend developer (Angular)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">S.R.L Iron Will</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://sumy.grc.ua/vacancy/55005973?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kyiv">Middle+ / Senior React Native Developer</a></td> 
     <td class="city">Киев, Политехнический институт</td> 
     <td class="companyName">hotline-finance</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table> 
 </body>
</html>